<div id="modal-overlay"></div>
<div id="modal-content">
	<div>
		<%= form_for(@comment) do |f| %>
			<%= f.text_field :content %>
			<% if current_user.trainer == true %>
				<%= f.collection_select :receiver_id, User.customers, :id, :name %>
				<%= f.submit '投稿' %>
			<% else %>
				<%= f.collection_select :receiver_id, User.trainers, :id, :name %>
				<%= f.submit '投稿' %>
			<% end %>
		<% end %>
		<p>「閉じる」か「背景」をクリックするとモーダルウィンドウを終了します。</p>
	</div>
</div>
