<%= link_to '受信BOX', inbox_user_path(current_user) %>
<%= link_to 'アイテム一覧', items_path %>
<%= link_to '出品', new_item_path %>
<% @exhibit_item.each do |item| %>
	<div>
	<%= link_to item.name, item_path(item) %>
	<%= item.description %>
	<%= item.price %>
	<% unless sold_out? item %>
		<%= item.stock %>
	<% else %>
		完売!
	<% end %>
	<%= item.category.genre %>
	<%= item.category.keyword %>
    </div>
<% end %>
:未入金の注文
<% @still_payment_orders.each do |order| %>
	<div>
	<%= User.find(order.user_id).name %>
	<%= order.total_fee %>円
	<%= order.created_at %>
	<%= link_to '入金を確認', order_path(order.id),method: :patch %>
    </div>
<% end %>
<%= paginate @exhibit_item %>