<h1>ようこそ<%= @user.name %> さん</h1>
<% if @user.trainer == true %>
	<%= render 'trainer' %>
<% else %>
	<div id='body-form'></div>
	<%= figure %>
	<%= lifestyle %>
    <% recommended_items.limit(10).each do |item| %>
    	<div>
		<%= link_to item.name, item_path(item.id) %>
		<%= item.price %>
		</div>
	<% end %>
	<%= weight_chart %>
	<% if once_a_day? @user.bodies %>
		<%= link_to 'データを入力する', new_body_path, remote:true %>
	<% else %>
		<div>すでに入力してあります、また明日入力してください</div>
		<%= link_to 'トレーニング', new_user_trainings_path(current_user) %>
	<% end %>
	<div class="menu">
	<%= link_to '受信BOX', inbox_user_path(current_user) %>
	<%= link_to 'アイテム一覧', items_path %>
	</div>
	<% @cart_in_items.each do |item| %>
		<div>
		<%= item.name %>
		<%= purchase_number item %>個
		<%= subtotal item %>円
		<%= link_to 'カートから出す', item_cart_items_destroy_path(item.id),method: :delete %>
		</div>
	<% end %>
	合計<%= user_item_total_fee @user %>円
	<%= link_to '購入ページへ', new_personal_path %>


<% end %>
 