<h1>ようこそ<%= @user.name %> さん</h1>

<% if @user.trainer == true %>
<%= render 'trainer' %>
<% else %>

<%= figure %>
<%= lifestyle %>
<% if once_a_day? @user.bodies %>
	<%= link_to 'データを入力する', new_body_path, remote:true %>
<% else %>
	<div>すでに入力してあります、また明日入力してください</div>
	<%= link_to 'トレーニング', new_user_trainings_path(current_user) %>
<% end %>
<div id='body-form'></div>
<%= link_to 'データを入力する', new_body_path, remote:true  %>

<%= link_to '受信BOX', inbox_user_path(current_user) %>
<% end %>