<div id="modal-overlay"></div>
<div id="mod-content">
	<h2>ステップ２</h2>
	<div class="js-content">
	<p class="js-category-title">カテゴリ設定</p>
	<label class="js-labels"><input class="js-radios" type="radio" name="genre" value='food' 
		onclick="subForm()">食品</label>
	<label class="js-labels"><input class="js-radios" type="radio" name="genre" value='equipment' 
		onclick="subForm()">器具</label>
	<label class="js-labels"><input class="js-radios" type="radio" name="genre" value='clothes' 
		onclick="subForm()">洋服</label>
	<label class="js-labels"><input class="js-radios" type="radio" name="genre" value='other' 
		onclick="subForm()">その他</label>
	</div>
<div id="sub-form-food">
	食品：
	<label><input type="radio" name="genre" value='supplement'>サプリメント</label>
	<label><input type="radio" name="genre" value='protein'>プロテイン</label>
	<label><input type="radio" name="genre" value='diet'>ダイエット食品</label>
	<label><input type="radio" name="genre" value='drink'>ドリンク</label>
	<p class="category-unform-btn"  onclick="unForm('food')">↑</p>
</div>

<div id="sub-form-equipment">
	器具：
	<label><input type="radio" name="genre" value='muscle'>筋トレ</label>
	<label><input type="radio" name="genre" value='beauty'>美容</label>
	<label><input type="radio" name="genre" value='health'>健康</label>
	<label><input type="radio" name="genre" value='life'>生活</label>
	<p class="category-unform-btn"  onclick="unForm('equipment')">↑</p>
</div>

<div id="sub-form-clothes">
	洋服：
	<label><input type="radio" name="genre" value='female'>女性</label>
	<label><input type="radio" name="genre" value='man'>男性</label>
	<label><input type="radio" name="genre" value='children'>子供</label>
	<label><input type="radio" name="genre" value='big'>ビッグサイズ</label>
	<p class="category-unform-btn"  onclick="unForm('clothes')">↑</p>
</div>

<div id="sub-form-other">
	その他：
	<label><input type="radio" name="genre" value='ticket'>チケット</label>
	<label><input type="radio" name="genre" value='service'>サービス</label>
	<label><input type="radio" name="genre" value='guidance'>施設</label>
	<label><input type="radio" name="genre" value='gym'>ジム</label>
	<p class="category-unform-btn"  onclick="unForm('other')">↑</p>
</div>
<div class="js-content">
	<%= form_for(@category,remote: true) do |f| %>
		<%= f.label "キーワード設定",class: 'js-labels' %>
		<%= f.text_area :keyword, placeholder: '(例）痩せる、筋トレ、体力' ,class: 'item-new-keyword-form'%>
		<%= f.hidden_field :item_id, value: @id %>
		<%= f.hidden_field :genre %>
		<div id="c-submit">
		<div class="js-submit-area">
		<%= f.submit 'ステップ３へ', id: 'category-submit',class: 'submit' %>
		</div>
	</div>
	<% end %>
</div>
</div>
<div id="thumbnail-form"></div>
<style type="text/css">
	#sub-form-food,
	#sub-form-equipment,
	#sub-form-clothes,
	#sub-form-other{
		display: none;
	}
</style>
