<h1>商品一覧</h1>
<%= link_to 'アイテム一覧', items_path %> 
<%= form_with url: items_path, method: :get, local: true do |form| %>
	<%= form.label 'キーワード検索' %>
	<%= form.text_field :keyword, value:params[:keyword] %>
	<%= form.label :max_price %>
	<%= form.number_field :max_price, value:params[:max_price] %>
	<%= form.label :min_price %>
	<%= form.number_field :min_price, value:params[:min_price] %>
	<% Category.genres.keys.zip(Category.genres.values).each do |genre,value| %>
		<div id= 'genre<%= value %>' class='genre<%= value %>'>
		<%= form.radio_button :genre,value,id:'genrebtn'+value.to_s %>
		<%= genre %>
		</div>
	<% end %>
	<%= form.submit '検索' %>
<% end %>
<% @items.each do |item| %>
	<div>
	<%= link_to item.name, item_path(item) %>
	<%= item.description %>
	<%= item.price %>
	<%= item.stock %>
	<%= item.category.genre %>
	<%= item.category.keyword %>
	</div>
<% end %>
<%= paginate @items %>
<style type="text/css">
	#genre1,
	#genre2,
	#genre3,
	#genre4{
		display: block !important;
	}
	div[class^='genre']{
		display: none;
	}
</style>

<script type="text/javascript">


function viewFormForGenre(num, ary){
	document.getElementById('genrebtn' + num).addEventListener('click', function(){
		viewFormForGenre(1)
		var genres =  document.querySelectorAll("div[class$="+ "\'"+ num +"\'" +"]" );
		for(var i = 0, len = genres.length; i < len; i++){
			var genre = genres.item(i);
			genre.style.display = 'block';
		}
		for(var f = 0, len = ary.length; f < len; f++){
			var n = ary[f];
			var genres = document.querySelectorAll("div[class$="+ "\'"+ n +"\'" +"]" );
			for(var j = 0, l = genres.length; j < l; j++){
			var genre = genres.item(j);
			console.log(genre);
			genre.style.display = 'none';
			}
		}
	}, false);
};
viewFormForGenre('1', [2,3,4])
viewFormForGenre('2', [1,3,4])
viewFormForGenre('3', [1,2,4])
viewFormForGenre('4', [1,2,3])
	// function viewFormForGenre(num){
	// 	var genres =  document.querySelectorAll("div[class$='1']");
	// 	for(var i = 0, len = genres.length; i < len; i++){
	// 		var genre = genres.item(i);
	// 		genre.style.display = 'block';
	// 	};
	// };

	
</script>
<!-- 
	document.getElementById('genre1').addEventListener('click', function(){
		var genres =  document.querySelectorAll("div[class$='1']");
		for(var i = 0, len = genres.length; i < len; i++){
			var genre = genres.item(i);
			genre.style.display = 'block';
		}
	}, false); -->
	