<div id="category-form"></div>
<div id="thumbnails-form"></div>
<div class="item-new-area">
	<h2 class="trainer-title">出品</h2>
<%= form_for(@item, remote: true) do |f| %>
	<div class="item-new-form-area">
	<%= f.label '商品名' %>
	<%= f.text_field :name, placeholder: '商品名',class: 'item-new-itemname-form' %>
	</div>
	<div class="item-new-form-area">
	<%= f.label "商品説明" %>
	<%= f.text_area :description, placeholder: '商品説明',class: 'item-new-description-form'  %>
	</div>
	<div class="item-new-form-area">
	<div class="item-new-price-form-area">
	<%= f.label "価格" %>
	<%= f.text_field :price, placeholder: '価格' %>
	</div>
	<div class="item-new-stock-form-area">
	<%= f.label "出品数" %>
	<%= f.number_field :stock,min: 0, placeholder: '個数' %>
	</div>
	</div>
	<%= f.submit 'ステップ２へ', class: 'submit' %>
<% end %>
</div>
