<h1>詳細ページ</h1>
<div>
<h2><%= @item.name %></h2>
<% if current_user.trainer == true %>
	<%= render 'trainer' %>
<% else %>
	<%= @item.description %>
	:価格
	<%= @item.price %>
	在庫：
	<%= @item.stock %>
	<%= score_average @reviews %>
	<%= form_for(@cart_item, url:item_cart_items_create_path(@item)) do |f| %>
		<%= f.number_field :quantity,max: @item.stock, min:0 %>
		<%= f.submit 'カートに入れる' %>
	<% end %>
	<% @reviews.each do |review| %>
		<%= review.content %>
		<%= review.user.name %>
		<% if review.user_id == current_user.id %>
			<%= link_to '削除', review_path(review),method: :delete %>
		<% end %>
	<% end %>
	<%= form_for(@review, url: item_reviews_create_path(@item)) do |f| %>
		<%= f.text_area :content %>
		<% [1,2,3,4,5].each do |num| %>
		<%= f.radio_button :score, num %>
		<% end %>
		<%= f.submit 'レビュー' %>
	<% end %>
<% end %>