<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="header">
    <h1 class="title">Fitness</h1>
    <% if user_signed_in? %>
      <div class="header-logout-area">
        <%= link_to 'ログアウト', destroy_user_session_path,method: :delete, class: 'header-logout' %>
      </div>
      <% if current_user.trainer == true %>
      <div class="header-user-menu-area">
        <div class="header-user-menu">
          <%= link_to  inbox_user_path(current_user), class: 'header-user-link' do %>
          <p class="header-user-link-name">受信BOX</p>
          <% end %>
        </div>
        <div class="header-user-menu">
          <%= link_to items_path , class: 'header-user-link' do %>
            <p class="header-user-link-name">アイテム一覧</p>
          <% end %>
        </div>
        <div class="header-user-menu">
          <%= link_to new_item_path , class: 'header-user-link' do %>
            <p class="header-user-link-name">出品</p>
          <% end %>
        </div>
        <div class="header-user-menu">
          <%= link_to orders_path , class: 'header-user-link' do %>
            <p class="header-user-link-name">オーダー確認</p>
          <% end %>
        </div>
        <div class="header-user-menu">
          <%= link_to root_path , class: 'header-user-link' do %>
            <p class="header-user-link-name">アイテム管理</p>
          <% end %>
        </div>
      </div>
      <% else %>
        <div class= "header-user-menu-area">
          <div class="header-user-menu">
            <%= link_to inbox_user_path(current_user),class: 'header-user-link' do %>
              <p class="header-user-link-name">contact</p>
              <p class="header-user-link-name-jp"> <i class="fa fa-envelope" aria-hidden="true"></i>受信BOX</p></a>
          <% end %>
          </div>
          <div class="header-user-menu">
            <%= link_to items_path, class: 'header-user-link' do %>
              <p class="header-user-link-name">SHOP</p>
              <p class="header-user-link-name-jp"><i class="fa fa-shopping-basket" aria-hidden="true"></i>アイテム一覧</p></a>
            <% end %>
         </div>
          <div class="header-user-menu">
            <%= link_to new_personal_path, class: 'header-user-link' do %>
              <p class="header-user-link-name">purchase</p>
              <p class="header-user-link-name-jp"><i class="fa fa-shopping-cart" aria-hidden="true"></i>購入ページへ</p></a>
            <% end %>
          </div>
          <div class="header-user-menu">
            <%= link_to root_path, class: 'header-user-link' do %>
              <p class="header-user-link-name">my page</p>
              <p class="header-user-link-name-jp"><i class="fas fa-user"></i>マイページ</p></a>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="header-session-area">
      <%= link_to 'ログイン', new_user_session_path,class: 'header-login-link' %>
      <%= link_to '新規会員登録', new_user_registration_path,class: 'header-signup-link' %>
      </div>
    <% end %>
    </header>
      <% unless flash[:success].nil? %>
        <div class="message-area success">
          <%= flash[:success] %>
        </div>
      <% end %>
      <% unless flash[:error].nil? %>
        <div class="message-area error">
          <%= flash[:error] %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
